# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Python build files
build/
dist/
*.egg-info/

# Streamlit cache
.streamlit/cache/

# Logs
*.log
